<div class="agm-container">
  <h3>KSB Navigator</h3>


  <mat-list role="list">
    <mat-list-item role="listitem" *ngFor="let location of this.locations" (click)="this.show(location)" [style.border-color]="location.color">
      {{ location.name }}
    </mat-list-item>
  </mat-list>


<div *ngIf="this.selected" >
  <agm-map #map
    [zoom]="18"
    [latitude]="lat"
    [longitude]="lng"
    (mapReady)="onMapReady($event)"
  >
  </agm-map>
  <br />
  <div *ngIf="pointList.length>0" class="display-flex">
    <button mat-stroked-button color="warn" (click)="deleteSelectedShape()">Clear</button>
  </div>

  <mat-list role="list">
    <mat-list-item role="listitem" *ngFor="let point of pointList">
      {{ point.lat }},
      {{ point.lng }}</mat-list-item
    >
  </mat-list>
  <mat-card *ngIf="selectedArea > 0">
    <span> Selected Area: {{ selectedArea }}m<sup>2</sup> </span>
  </mat-card>
</div>
</div>