agm-map {
  height: 400px;
}
.agm-container{
  width: 60%;
  margin: auto;
  padding:2rem;
}
h3{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
button{
  float: right;
}


.mat-list-item{
  color:rgb(22, 22, 117);
  background-color: #eeeeee;  
  margin: 1rem;
  margin-left:0;
  border: solid;
  border-style: dotted;
  border-radius: 10px;
  text-align: center;
  
}


.display-flex{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.mat-list-item:active{

  border: solid;
  border-style: solid;
}
